<div id="nav-container">
  <nav class="navbar navbar-expand-sm navbar-light">
    <li href="#" class="navbar-brand">
      <%= link_to image_tag("products/logo-02.png", id: "mob-logo"), root_path %>
    </li>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" arial-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav_menu">
          <a href="#company" class="col text-center nav-item nav-link">Empresa</a>
        </li>
        <li class="nav_menu">
          <a href="#product" class="col text-center nav-item nav-link">produtos</a>
        </li>
        <li class="nav_menu">
          <a href="#location" class="col text-center nav-item nav-link">Onde Estamos</a>
        </li>
        <li class="nav_menu">
          <a href="#contact" class="col text-center nav-item nav-link">Contato</a>
        </li>
      </ul>
    </div>
    <!-- <div class="collapse navbar-collapse justify-content-center" id="navbar-links">
      <div class="navbar-nav">
        <div class="nav_menu">
          <li class="col text-center nav-item nav-link" id="about-menu"><%= link_to 'Início', root_path %></li>
          <a href="#company" class="col text-center nav-item nav-link">Empresa</a>
          <li class="col text-center nav-item nav-link"><%= link_to 'Produtos', products_path %></li>
          <li href="#main" class="col text-center navbar-brand">
            <%= link_to image_tag("products/logo-02.png", id: "logo"), root_path %>
          </li>
          <a href="#location" class="col text-center nav-item nav-link">Onde estamos</a>
          <li class="col text-center nav-item nav-link"><%= link_to "Orçamentos", new_budget_path%></li>
        </div>
      </div>
    </div> -->
  </nav>
</div>
<!-- <div class="container">
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <li href="#" class="navbar-brand navbar-toggler">
      <%= link_to image_tag("products/logo-02.png", id: "mob-logo"), root_path %>
    </li>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" arial-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to "Empresa", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Produtos", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Orçamento", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Onde encontrar", "#", class: "nav-link" %>
        </li>
      </ul>
    </div>
  </div>
</div> -->
<!-- <div class="modal fade" id="budgetModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div> -->