<div>
  <p>
    <%= link_to 'Criar Produto', new_product_path, class: 'purchase' %>
  </p>
  <p>
    <%= link_to 'Criar Orçamento', new_budget_path, class: 'purchase' %>
  </p>
</div>
<div class="mt-2">
  <div class="row no-gutters">
    <div class="col-12 col-md-6 no-gutters">
      <div class="left_side">
        <div class="photo-card">
          <div class="image">
            <%= image_tag("products/amendoin.png") %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 align-self-center">
      <div class="text-card">
        <h1 id="main">Inicio</h1>
        <p>Somos uma empresa familiar mineira amantes da alta culinaria de pestiscos chiques artesanais, produzimos com amor cada grão para manter aquele tão famoso gostinho mineiro</p>
      </div>
    </div>
  </div>
  <br>
  <div class="row no-gutters">
    <div class="col-12 col-md-6 no-gutters">
      <div class="left_side">
        <div class="photo-card">
          <div class="image">
            <%= image_tag("products/amendoin.png") %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 align-self-center">
      <div class="text-card">
        <h1 id="company">Empresa</h1>
        <p>Somos uma empresa familiar mineira amantes da alta culinaria de pestiscos chiques artesanais, produzimos com amor cada grão para manter aquele tão famoso gostinho mineiro</p>
      </div>
    </div>
  </div>
  <br>
  <div class="row no-gutters">
    <div class="col-12 col-md-6 no-gutters">
      <div class="left_side">
        <div class="photo-card">
          <div class="image">
            <%= image_tag("products/amendoin.png") %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 align-self-center no-gutters">
      <div class="text-card">
        <h1 id="products">Produtos</h1>
        <p>Somos uma empresa familiar mineira amantes da alta culinaria de pestiscos chiques artesanais, produzimos com amor cada grão para manter aquele tão famoso gostinho mineiro</p>
      </div>
    </div>
  </div>
  <br>
  <div class="row no-gutters" id="empresa">
    <div class="col-12 col-md-6 no-gutters">
      <div class="left_side">
        <div class="photo-card">
          <div class="image">
            <%= image_tag("products/amendoin.png") %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 align-self-center no-gutters">
      <div class="text-card">
        <h1 id="location">Onde estamos</h1>
        <p>Somos uma empresa familiar mineira amantes da alta culinaria de pestiscos chiques artesanais, produzimos com amor cada grão para manter aquele tão famoso gostinho mineiro</p>
      </div>
    </div>
  </div>
  <br>
</div>
