<div class="container mt-2">
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="photo-card">
        <%= image_tag("products/amendoin.png") %>
      </div>
    </div>
    <div class="col-12 col-md-6 align-self-center">
      <div class="text-card">
        <h1 id="main">Inicio</h1>
        <p><%= Cicero.paragraphs(2) %></p>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="photo-card">
        <%= image_tag("products/amendoin.png") %>
      </div>
    </div>
    <div class="col-12 col-md-6 align-self-center">
      <div class="text-card">
        <h1 id="company">Empresa</h1>
        <p><%= Cicero.paragraphs(2) %></p>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="photo-card">
        <%= image_tag("products/amendoin.png") %>
      </div>
    </div>
    <div class="col-12 col-md-6 align-self-center">
      <div class="text-card">
        <h1 id="product">Produtos</h1>
        <p><%= Cicero.paragraphs(2) %></p>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="photo-card">
        <%= image_tag("products/amendoin.png") %>
      </div>
    </div>
    <div class="col-12 col-md-6 align-self-center">
      <div class="text-card">
        <h1 id="location">Parceiros</h1>
        <p><%= Cicero.paragraphs(2) %></p>
      </div>
    </div>
  </div>
  <br>
</div>
<div class="container" id="contact">
  <div class="footer">
    <div class="footer-links">
    </div>
    <div class="footer-copyright">
      <%= Cicero.paragraphs %>
    </div>
  </div>
</div>