<h1>New Product Page</h1>
<%= simple_form_for @product do |f| %>
  <%= f.input :name, label: 'Nome' %>
  <%= f.input :price, label: 'Preço' %>
  <%= f.input :stock_quantity, label: 'Estoque' %>
  <br>
  <%= f.submit "Criar", class: 'btn btn-success btn-block' %>
<% end %>